body {
	font-family: 'Lato', sans-serif;
	width: 100%;
	height: 100%;
}
#mapa {
	position: absolute;
	height: 100%;
	bottom: 0;
	width: 100%;
}
#modalStart {
	width: 150px;
	height: 150px;
	position: absolute;
	top: 40%;
	left: 50%;
	margin-top: -75px;
	margin-left: -75px;
}
#modalStart p {
	font-size: 3em;
	letter-spacing: 1.5px;
	font-weight: normal;
	text-align: center;
}
#modalStart img {
	width: 150px;
	height: 150px;

}
#modalNotas {
	height: 75%;
	width: 80%;
	padding: 5px;
	position: absolute;
	top: 15px;
	left: 8%;
	background-color: rgba(255,255,255, 1);
	display: none;
	border: 1px solid black;
}
#modalNotas p {
	padding: 15px;
	text-align: center;
	font-size: 1.2em;
}
#cajaBtnNotas {
	margin-top: 35%;
}
#btnCerrar {
	cursor: pointer;
	font-size: 3em;
	font-weight: lighter;
	float: left;
	padding: 5px 20px 5px 5px;
}
.btnSocial {
	display: inline-block;
	margin-left: 40px;
}
.btnSocial img {
	width: 200%;
	height: auto;
	margin-top: 50px;
}
.peq {
	width: 6%;
	height: auto;
}
.btnMain {
	width: 40px;
	border-radius: 50%;
	height: 40px;
	border: 1px solid black;
	cursor: pointer;
}
.btnNotas {
	
}