body {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	width: 100%;
	height: 100%;
	position: absolute;
}
footer {
	text-align: center;
	width: 100%;
	height: 150px;
}
#mapa {
	position: absolute;
	height: 100%;
	bottom: 0;
	width: 100%;
}
#btnNotas img {
	width: 42px;
	margin-left: 37%;
	margin-top: 20px;
}
#modalShare {
	display: none;
	width: 100%;
}
#social {
	width: 300px;
	position: relative;
	left: 10%
}
.titulo {
	font-size: 3em;
	letter-spacing: 1.5px;
	font-weight: normal;
	text-align: center;
	margin-top: 270px; 
}
.logo {
	width: 150px;
	height: 150px;
	position: absolute;
	top: 20%;
	left: 50%;
	margin-top: -75px;
	margin-left: -75px;
}
.shareText {
	text-align: center;
}
.btnSocial {
	display: inline-block;
	margin-top: 50px;
	width: 42px;
	padding: 20px;
}
.btnSocial img {
	width: 42px;
}
.btnMain {
	width: 40px;
	border-radius: 50%;
	height: 40px;
	border: 1px solid black;
	cursor: pointer;
}