body {
	font-family: 'Lato', sans-serif;
}
#mapa {
	position: absolute;
	height: 100%;
	bottom: 0;
	width: 100%;
}
#modalNotas {
	height: 75%;
	width: 80%;
	padding: 5px;
	position: absolute;
	top: 15px;
	left: 8%;
	background-color: rgba(255,255,255, 1);
	display: none;
	border: 1px solid black;
}
#modalNotas p {
	padding: 15px;
	text-align: center;
	font-size: 1.2em;
}
#cajaBtnNotas {
	margin-top: 35%;
}
#btnCerrar {
	cursor: pointer;
	font-size: 3em;
	font-weight: lighter;
	float: left;
	padding: 5px 20px 5px 5px;
}
.btnSocial {
	display: inline-block;
	margin-left: 40px;
}
.btnSocial img {
	width: 200%;
	height: auto;
	margin-top: 30px;
}
.peq {
	width: 6%;
	height: auto;
}
.btnMain {
	width: 40px;
	border-radius: 50%;
	height: 40px;
	border: 1px solid white;
	cursor: pointer;
}
.btnNotas {
	margin-top: 8px;
	margin-left: 8px;
}
