body {
	font-family: 'Lato', sans-serif;
}
#mapa {
	position: absolute;
	height: 100%;
	bottom: 0;
	width: 100%;
}
#menuNotas {
	height: 80%;
	width: 80%;
	padding: 5px;
	position: absolute;
	top: 15px;
	left: 8%;
	background-color: rgba(255,255,255, 1);
	display: none;
	border: 1px solid black;
}
#menuNotas p {
	padding: 15px;
	text-align: center;
	font-size: 1.2em;
}
#cajaBtnNotas {
	text-align: center;
}
#cajaBtnNotas a {
	color: black;
}
#btnCerrar {
	cursor: pointer;
	font-size: 1.2em;
	font-weight: lighter;
	float: left;
}
.btnSocial {
	display: inline-block;
	margin-top: 20px;
}
.btnMain {
	width: 40px;
	border-radius: 50%;
	height: 40px;
	border: 1px solid black;
	cursor: pointer;
}
.btnNotas {
	margin-left: 5px;
	padding: 0px 5px 5px 5px;
}
