body {
	font-size: 16px;
}
#mapa {
	position: absolute;
	height: 100%;
	top: 0;
	width: 100%;
}
.botonera {
	bottom: 5px;
	position: absolute;
}
.botonera button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: transparent;
	border: 1px solid black;
	margin-left: 15px;
	color: black;
}