body {
	font-size: 16px;
	margin: 0, auto;
	font-family: 'Lato', sans-serif;
}
#mapa {
	position: absolute;
	height: 100%;
	top: 0;
	width: 100%;
}
.btnNotas {

}
.menu {
	height: 100%;
	width: 120px;
	border: 1px dotted black;
	position: absolute;
	background-color: rgba(61, 148, 246, 0.9);
	display: none;
	color: white;
	padding: 10px;
}
.menuBtn {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	background-color: transparent;
	border: 1px solid black;
	float: right;
	position: absolute;
	bottom: 5px;
	left: 10px;
	font-weight: bolder;
	text-align: top;
}
.menuBtnOff {
	background-color: transparent;
	border: 1px dashed white;
	height: 36px;
	width: 36px;
	border-radius: 50%;
	font-size: 16px;
	float: right;
}
.divLinkNotas {
	height: 42px;
	width: 80%;
	margin-top: 10px;

}
.linkNotas {
	color: white;
}
.locationBtn {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	background-color: transparent;
	border: 1px solid black;
	float: right;
	position: absolute;
	bottom: 5px;
	left: 65px;
}
.locationBtn img {
	vertical-align: text-bottom;
	width: 350%;
	margin-left: -10px;
}
.containerUsers {
	height: 40px;
	width: 80%;
}
.listaUsers {
	height: auto;
}

