body {
	font-size: 16px;
	margin: 0, auto;
	font-family: 'Lato', sans-serif;
}
#mapa {
	position: absolute;
	height: 100%;
	top: 0;
	width: 100%;
}
.menu {
	height: 100%;
	width: 150px;
	border: 1px dotted black;
	position: absolute;
	background-color: rgba(61, 148, 246, 0.6);
	display: none;
	color: white;
	padding: 10px;
}
.menuBtn {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	background-color: transparent;
	border: 1px solid black;
	float: right;
	position: absolute;
	bottom: 5px;
	left: 10px;
	font-weight: bolder;
	text-align: top;
}
.menuBtnOff {
	background-color: transparent;
	border: 1px dashed white;
	height: 36px;
	width: 36px;
	border-radius: 50%;
	float: right;
}
.locationBtn {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	background-color: transparent;
	border: 1px solid black;
	float: right;
	position: absolute;
	bottom: 5px;
	left: 65px;
}
.locationBtn img {
	vertical-align: text-bottom;
	width: 350%;
	margin-left: -10px;
}
.containerUsers {
	height: 100px;
}
.listaUsers {
	height: auto;
}

