/* Compatible with Leaflet 0.7 */

@import url('../font/locate-fa.woff');
@import url('locate-fa.css');
@import url('animation.css');



.leaflet-control-locate a {
	font-size: 2.2em;
	margin-left: 1px;
    color: white;
    text-decoration: none;
}

.leaflet-control-locate.active a {
	color: red;
}

.leaflet-control-locate.active.following a {
	color: orange;
}

.leaflet-touch .leaflet-control-locate {
	box-shadow: none;
	border: 1px solid white;
	background-clip: padding-box;
}
