/* Compatible with Leaflet 0.7 */

@import url('../font/locate-fa.woff');
@import url('locate-fa.css');
@import url('animation.css');



.leaflet-control-locate a {
	font-size: 2.2em;
	margin-left: 1px;
    color: #444;
    text-decoration: none;
}

.leaflet-control-locate.active a {
	color: #265B86;
}

.leaflet-control-locate.active.following a {
	color: #FC8428;
}

.leaflet-touch .leaflet-control-locate {
	box-shadow: none;
	border: 2px solid rgba(0,0,0,0.2);
	background-clip: padding-box;
}
